/* RESET */
html {
  box-sizing: border-box;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.container{
	padding-right:15px;
	padding-left:15px;
	margin-right:auto;
	margin-left:auto
}

@media (min-width:768px) { 
	.container {
		width:750px
	}
}
@media (min-width:992px) {
	.container {
		width:970px
	}
}
@media (min-width:1200px) {
	.container{
		width:1170px
	}
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: 400;
}

a{
	color: #8b959e;
	text-decoration: none;
}

a:hover{
	color: #5DA20F;
}

section:first-of-type {
	margin-top: 40px;
}

section{
	padding: 40px;
	display: block;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

section .section-header{
	margin-bottom: 60px;
	width: 100%;
}

section .section-header .title{
	display: inline-block;
}

section .section-header a{
	font-size: 14px;
	margin-top: 5px;
	float: right;
}

section .section-header .lead{
	margin-top: 10px;
}

section a.category-link{
	color: #5DA20F;
}

section a.category-link:hover{
	cursor: pointer;
}

section a.category-link img{
	margin-left: 12px;
}

section .lead{
	color: #8b959e;
}

/* HERO SECTION */

.hero{
	background:url('/images/image_big.jpg') no-repeat center center;
	height: 350px;
	position: relative;
    background-size: cover;
    display: flex;
  	align-items: center;
}

.hero-caption{
	margin-left: 100px;
}

.hero-header{
	font-size: 25px;
	font-weight: 300;
	margin-bottom: 15px;
}

.hero-subheader{
	color: #8b959e;
	width: 70%;
	line-height: 1.4em;
}

/* CAROUSEL */

.carousel-content{
	position: relative;
}

.carousel{
	position: relative;
    overflow: hidden;
}

.carousel-inner{
    width: 100%;
    clear: both;
    white-space: nowrap;
    font-size: 0;
    -webkit-transition: 1s ease-in-out;
    -moz-transition: 1s ease-in-out;
    -o-transition: 1s ease-in-out;
    transition: 1s ease-in-out;
}

.carousel-item{
	display: inline-block;
	width: 220px;
	margin-right: 10px;
	position: relative;
}

.carousel-item img{
	width: 100%;
}

.carousel-arrow{
	position: absolute;
	background-color: #fff;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
    box-shadow: -1px -1px 2px 0px #ccc;
    cursor: pointer;
    transition: all .1s linear;
}

.carousel-arrow:hover{
	background-color: #eee;	
}

.carousel-arrow svg{
	width: 16px;
    height: 12px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.carousel-arrow.right{
	right: -1%;
	transform: translateY(-50%) rotate(180deg)
}

.carousel-arrow.left{
	left: -1%;
}

.carousel-caption{
	position: absolute;
	bottom: 0;
	padding: 15px;
	background-color: rgba(0,0,0,0.8);
	color: #fff;
	width: 100%;
	text-align: left;
}

.carousel-caption .category{
	font-size: 0.9rem;
	margin-bottom: 5px;
}

.carousel-caption .category-text{
	font-size: 0.8rem;	
}

/* CONTACT SECTION */

.content, .content-flex {
	margin-top: 20px;
}

.content-flex{
	display: flex;
}

.column{
  flex: 50%;
}

.social-buttons{
	text-align: right;
}

input.form-control{
	font-family: Open Sans,sans-serif;
    border: 1px solid #c1c6cb;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    box-sizing: border-box;
    display: block;
    height: 50px;
    width: 60%;
    margin-right: 10px;
    padding: 0 10px;
    outline: 0;
    float: left;
}

form button.btn-primary{
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    border: none;
    border-radius: 4px;
    transition: .3s;
    background: #5da20f;
    width: auto;
    height: 50px;
    padding-left: 30px;
    padding-right: 30px;
    color: #fff;
    font-weight: 400;
    font-size: 1rem;
    float: left;
}

form button.btn-primary:hover{
	background: #6fbb18;
}

.social-buttons img:hover{
	opacity: 0.6;
}